body {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    overflow-x: hidden;
}

h1, h2 {
    text-align: center;
    color: white;
}

.container-calc {
    transform: translateY(15rem);
    height: 20rem;
    position: absolute;
    z-index: 1;
}

.invalid {
    border: 3px solid red !important; 
    border-radius: 5px;
    outline: none;
}

#result, #result-game {
    width: 500px;
    padding-top: 3rem;
    margin: 0 auto;
}

img {
    position: absolute;
    top: 5rem;
    right: 0;
    transform: translateX(17rem);  
}

.add-puppet {
    transform: translateX(0rem);
    transition: transform 13s ease-out; 
}

.remove-calc {
    transform: translateY(-15rem);
    transition: transform 5s ease-in-out;
}

.container-game {
    position: absolute;
    transform: translateY(3rem);
    height: 20rem;
    opacity: 0;
    z-index: 0;
}

.opacity-show {
    opacity: 1;
    transform: scaleZ(1rem);
    transition: opacity 5s ease-in-out 2s;
}

.container-game label {
    color: white;
}

#special {
    color: white;
    background-color: red;
}

.answer-wrapper {
    display: flex;
    justify-content: center;
}