body {
    background-color: black;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

div {
    position: absolute;
    top: 60px;
    max-width: 400px;
    width: 400px;
    height: 250px;
    /* overflow-y: scroll; */
}

p {
    max-width: 400px;
    width: 400px;
    height: 250px;
    margin: 0;
    word-wrap: break-word;
    font-size: 18px;
    overflow-y: scroll;
}

img {
    width: 1200px;
    height: 800px;
}

